# Rust / Cargo
/target/
**/target/
Cargo.lock
**/Cargo.lock

# Trunk (frontend)
/dist/
**/dist/

# Variables de entorno (¡MUY importante con datos sensibles!)
.env
.env.local
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log/target
